<div class="head text-center pt-5">
	<div class="about">About us</div>
	<div class="ab pt-3">
		Travelo là công ty mà bạn đang tìm kiếm, với đội ngũ thân thiện và dịch vụ chuyên nghiệp. Dựa trên kinh nghiệm mà chúng tôi đã đạt được trong những năm qua, chúng tôi tự hào là chuyên gia thực hiện các chuyến đi tùy chỉnh đến mọi ngõ ngách của Việt Nam với giá cả hợp lý và rất cạnh tranh. Du lịch với chúng tôi và chúng tôi vượt quá mong đợi của bạn!
	</div>
	<div class="d-flex justify-content-center pt-5">
		<a href="#ttt" class="btn tht">Tìm hiểu thêm</a>
	</div>
</div>
<div class="why">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="bg-w">
					<%= image_tag ('Travel/why.png') %>
					<div class="whytxt">
						<p>Vì sao chọn</p>
						<p class="web">Travelo ?</p>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-md-4">
						<div class="">
							<div class="w-num">1.</div>
							<div class="w-name">Mạng bán tour</div>
							<hr>
							<div class="w-des">
								<p class="mg-bot5">Đầu tiên ở Việt Nam</p>
								<p>Ứng dụng công nghệ mới nhất</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="">
							<div class="w-num">2.</div>
							<div class="w-name">Thanh toán</div>
							<hr>
							<div class="w-des">
								<p class="mg-bot5">An toàn và linh hoạt</p>
								<p>Liên kết với các tổ chức tài chính</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="">
							<div class="w-num">3.</div>
							<div class="w-name">Giá cả</div>
							<hr>
							<div class="w-des">
								<p class="mg-bot5">Luôn có mức giá tốt nhất</p>
								<p>Bảo đảm giá tốt</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="">
							<div class="w-num">4.</div>
							<div class="w-name">Sản phẩm</div>
							<hr>
							<div class="w-des">
								<p class="mg-bot5">Đa dạng chất lượng</p>
								<p>Đạt chất lượng tốt nhất</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="">
							<div class="w-num">5.</div>
							<div class="w-name">Đặt tour</div>
							<hr>
							<div class="w-des">
								<p class="mg-bot5">Dễ dàng nhanh chóng</p>
								<p>Đặt tour với 3 bước</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="">
							<div class="w-num">6.</div>
							<div class="w-name">Hỗ trợ</div>
							<hr>
							<div class="w-des">
								<p class="mg-bot5">24/7</p>
								<p>Hotline và hỗ trợ trực tiếp</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" id="ttt">
	<div class="row pt-4">
		<div class="col-md-7 ml-4">
			<%= image_tag ('Travel/about.jpg') %>
		</div>
		<div class="col-md-4">
			<div class="abx border border-danger">
				<div>
					<span>Sứ mệnh của chúng tôi</span>
					<div class="pt-2">Cung cấp du lịch với chi phí hợp lý giúp bạn thực hiện ước mơ với ngân sách phù hợp.</div>
				</div>
				<div class="pt-4">
					<span>Tầm nhìn của chúng tôi</span>
					<div class="pt-2">Cung cấp cho khách hàng của chúng tôi một chuyến đi khó quên và đẹp là niềm đam mê và động lực của chúng tôi để tiếp tục và cải thiện. </div>
				</div>
				<div class="pt-4">
					<span>Niềm đam mê của chúng tôi</span>
					<div class="pt-2">Phát triển và thiết kế các tour du lịch mới, vui vẻ, hấp dẫn và phù hợp cho từng khách hàng, dựa trên sở thích của họ. </div>
				</div>
			</div>	
		</div>
	</div>
</div>